# Feature Flags
NUXT_USE_MOCK=true

# Security & Authentication
JWT_SECRET=your-super-long-secret-key-at-least-32-chars
JWT_MAX_AGE=604800

# GROQ API
GROQ_API_ENDPOINT_SINGLE=https://api.groq.com/openai/v1/responses
GROQ_API_KEY=your-secret-key
GROQ_TARGET_MODEL=llama-3.3-70b-versatile

# Supabase API
SUPABASE_URL=your-supabase-db-url
SUPABASE_KEY=your-secret-key